<a href="https://colab.research.google.com/github/jtao22/PythonAI/blob/main/NLP/cryptosentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#import 
import numpy as np
import pandas as pd 
from google.colab import files 
from textblob import TextBlob as TB
from sklearn.metrics import accuracy_score as acc

In [ ]:
files.upload()

In [7]:
data = pd.read_csv('all-data.csv', names=['label', 'headline'], encoding='latin-1')
data.head(5)

      label                                           headline
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [8]:
data.replace('positive',1, inplace=True)
data.replace('neutral',0,inplace=True)
data.replace('negative',-1,inplace=True)

In [28]:
#sentiment analysis function
def polarity(text):
  return TB(text).sentiment.polarity

In [31]:
data['polarity'] = data['headline'].apply(polarity)

In [32]:
data.head(5)

   label                                           headline  polarity
0      0  According to Gran , the company has no plans t...  0.000000
1      0  Technopolis plans to develop in stages an area...  0.083333
2     -1  The international electronic industry company ...  0.000000
3      1  With the new production plant the company woul... -0.064802
4      1  According to the company 's updated strategy f...  0.000000

In [37]:
def finalize(polarity):
  if (polarity < -0.05):
    return -1
  elif (polarity > 0.05):
    return 1
  else:
    return 0

data['prediction'] = data['polarity'].apply(finalize)
data.tail(5)

      label  ... prediction
4841     -1  ...         -1
4842      0  ...          0
4843     -1  ...          0
4844     -1  ...          0
4845     -1  ...         -1

[5 rows x 4 columns]

In [40]:
print(acc(data['prediction'],data['label'])*100, '%')

50.96987205943046 %