<a href="https://colab.research.google.com/github/jtao22/PythonAI/blob/main/CustomerChurn/customerchurn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#import
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sb
from sklearn.preprocessing import LabelEncoder as LE
from sklearn.preprocessing import StandardScaler as SS
from sklearn.metrics import classification_report as cr
from sklearn.linear_model import LogisticRegression as LR
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import MinMaxScaler as MMS

In [ ]:
#upload data
from google.colab import files
files.upload()

In [99]:
data = pd.read_csv('cc.csv')
data.dropna(axis=0)
data.shape

(7043, 21)

In [100]:
data.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [101]:
data = data.drop(columns=['customerID'])
data.head(5)

   gender  SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female              0     Yes  ...          29.85         29.85    No
1    Male              0      No  ...          56.95        1889.5    No
2    Male              0      No  ...          53.85        108.15   Yes
3    Male              0      No  ...          42.30       1840.75    No
4  Female              0      No  ...          70.70        151.65   Yes

[5 rows x 20 columns]

In [102]:
#one hot encoding
le = LE()
mms = MMS()
for col in data.columns:
  if (data[col].dtype != np.number):
    data[col] = le.fit_transform(data[col])
Y = data['Churn']
data = data.drop(columns=['Churn'])
data.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  """

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
TotalCharges          int64
dtype: object

In [103]:
#split into train-test
trainX,testX,trainY,testY = tts(data,Y,test_size=0.2,random_state = 22)
trainX = mms.fit_transform(trainX)
testX = mms.fit_transform(testX)

In [104]:
#create/train arch
arch = LR()
arch.fit(trainX,trainY)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [105]:
predictions = arch.predict(testX)
print(cr(testY,predictions))

              precision    recall  f1-score   support

           0       0.82      0.89      0.86      1012
           1       0.65      0.50      0.56       397

    accuracy                           0.78      1409
   macro avg       0.73      0.70      0.71      1409
weighted avg       0.77      0.78      0.77      1409