<a href="https://colab.research.google.com/github/jtao22/PythonAI/blob/main/StrokePrediction/strokeprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sb
from sklearn.preprocessing import LabelEncoder as le
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler as ss
from sklearn.linear_model import LogisticRegression as lr
from sklearn.metrics import confusion_matrix as cm

In [ ]:
#upload data
from google.colab import files 
files.upload()

In [9]:
#read and filter
data = pd.read_csv('stroke.csv')
data = data.dropna(axis=0)
data = data.drop('id',axis=1)
data.head(3)

   gender   age  hypertension  ...   bmi   smoking_status stroke
0    Male  67.0             0  ...  36.6  formerly smoked      1
2    Male  80.0             0  ...  32.5     never smoked      1
3  Female  49.0             0  ...  34.4           smokes      1

[3 rows x 11 columns]

In [28]:
#encode data (convert smoking_status to a feature representable through a vector)
leY = le()
data.iloc[:,0] = leY.fit_transform(data.iloc[:,0].values)
data.iloc[:,4] = leY.fit_transform(data.iloc[:,4].values)
data.iloc[:,5] = leY.fit_transform(data.iloc[:,5].values)
data.iloc[:,6] = leY.fit_transform(data.iloc[:,6].values)
data.iloc[:,9] = leY.fit_transform(data.iloc[:,9].values)
#split into train test
x = data.iloc[:,1:10].values
y = data.iloc[:,-1].values
trainX,testX,trainY,testY = tts(data.iloc[:,1:10].values, data.iloc[:,-1].values, test_size = 0.25, random_state = 42)
data.head(3)

   gender  age  hypertension  ...   bmi  smoking_status  stroke
0       1   88             0  ...  36.6               1       1
2       1  101             0  ...  32.5               2       1
3       0   70             0  ...  34.4               3       1

[3 rows x 11 columns]

In [24]:
#create architecture (logistic regression)
def arch(trainX,trainY):
  logReg = lr(random_state = 42)
  logReg.fit(trainX, trainY)
  print('Logistic Regression Training Accuracy: ', logReg.score(trainX,trainY) * 100, '%')
  return logReg

In [29]:
models = arch(trainX,trainY)

Logistic Regression Training Accuracy:  96.06085302906818 %

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [33]:
#test data
CM = cm(testY, models.predict(testX))
print('Accuracy: ', (CM[0][0] + CM[1][1])/(CM[0][0] + CM[1][1] + CM[1][0] + CM[0][1]) * 100, '%')
#Diagram is:
# TP FP
# FN TN

Accuracy:  94.78827361563518 %