<a href="https://colab.research.google.com/github/jtao22/PythonAI/blob/main/WaterQuality/waterquality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
#import
import pandas as pd 
import numpy as np
from google.colab import files 
from keras.models import Sequential as seq
from keras.layers import Dense
from sklearn.preprocessing import StandardScaler as SS
from sklearn.preprocessing import LabelEncoder as LE
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score as acc

In [22]:
files.upload()

{}

In [23]:
data = pd.read_csv('water.csv')
data.head(5)

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

In [24]:
data['Potability'].value_counts()

0    1998
1    1278
Name: Potability, dtype: int64

In [25]:
for col in data:
  data[col].fillna(data[col].mean())

In [26]:
Y = data['Potability']
data = data.drop(columns=['Potability'])
data = SS().fit_transform(data)
trainX,testX,trainY,testY = tts(data,Y,test_size=0.15,random_state=42)

In [34]:
#create architecture
arch = seq()
arch.add(Dense(units = 10, input_shape= (9,), activation = 'relu')) 
arch.add(Dense(units = 32, activation = 'relu')) 
arch.add(Dense(units = 64, activation = 'relu')) 
arch.add(Dense(units = 2, activation = 'softmax')) #output layer
arch.compile(optimizer= 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [35]:
arch.fit(trainX,trainY,batch_size=6,epochs=16)

Epoch 1/16
464/464 [==============================] - 1s 864us/step - loss: nan - accuracy: 0.5915
Epoch 2/16
464/464 [==============================] - 0s 848us/step - loss: nan - accuracy: 0.5903
Epoch 3/16
464/464 [==============================] - 0s 817us/step - loss: nan - accuracy: 0.6046
Epoch 4/16
464/464 [==============================] - 0s 870us/step - loss: nan - accuracy: 0.6205
Epoch 5/16
464/464 [==============================] - 0s 859us/step - loss: nan - accuracy: 0.5955
Epoch 6/16
464/464 [==============================] - 0s 839us/step - loss: nan - accuracy: 0.6087
Epoch 7/16
464/464 [==============================] - 0s 862us/step - loss: nan - accuracy: 0.6168
Epoch 8/16
464/464 [==============================] - 0s 846us/step - loss: nan - accuracy: 0.6303
Epoch 9/16
464/464 [==============================] - 0s 827us/step - loss: nan - accuracy: 0.6010
Epoch 10/16
464/464 [==============================] - 0s 841us/step - loss: nan - accuracy: 0.6002
Epoch 11/16
464/464 [==============================] - 0s 880us/step - loss: nan - accuracy: 0.6000
Epoch 12/16
464/464 [==============================] - 0s 870us/step - loss: nan - accuracy: 0.6010
Epoch 13/16
464/464 [==============================] - 0s 843us/step - loss: nan - accuracy: 0.6026
Epoch 14/16
464/464 [==============================] - 0s 802us/step - loss: nan - accuracy: 0.6098
Epoch 15/16
464/464 [==============================] - 0s 867us/step - loss: nan - accuracy: 0.6168
Epoch 16/16
464/464 [==============================] - 0s 856us/step - loss: nan - accuracy: 0.6193

In [41]:
predictions = arch.predict(testX)
predictions.shape
ans = predictions.argmax(axis=1)
ans.shape
print(acc(ans,testY)*100,'%')

62.19512195121951 %