<a href="https://colab.research.google.com/github/jtao22/cvdML/blob/main/cvd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#README.md: This code classifies whether or not an individual has a cardiovascular disease

In [2]:
#Import
import numpy as np
import pandas as pd
import seaborn as sb

In [3]:
#Upload data
from google.colab import files
newfile = files.upload()

Saving cardio_train.csv to cardio_train.csv

In [4]:
#Log data into var
info = pd.read_csv('cardio_train.csv',sep=';')

In [5]:
#Checked size of data, checked if any cells empty
info.shape

info.isna().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
#statistical analysis 
info.describe()

#compare counts
info['cardio'].value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

In [8]:
#remove years and id 
info.drop('id',axis=1)

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[70000 rows x 12 columns]

In [9]:
#Categorize data
ind = info.iloc[:,:-1].values
targ = info.iloc[:,-1].values

In [10]:
#Split into training/testing (75/25)
from sklearn.model_selection import train_test_split
indtrain,indtest,targtrain, targtest =  train_test_split(ind,targ,test_size=0.25,random_state =1)

In [11]:
#Scale values
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
indtrain = ss.fit_transform(indtrain)
indtest = ss.fit_transform(indtest)

In [12]:
#Implement RFC
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 10, criterion='entropy', random_state = 1)
rfc.fit(indtrain,targtrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [13]:
#Test accuracy on training data
model = rfc
model.score(indtrain,targtrain)

0.9816

In [14]:
#Test accuracy on test  data
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(targtest, model.predict(indtest))

trueneg = cm[0][0]
truepos = cm[1][1]
falseneg= cm[1][0]
falsepos= cm[0][1]

print(cm)

print('Accuracy = {}'.format((truepos+trueneg)/(truepos+trueneg+falsepos+falseneg)))

[[6667 1942]
 [3362 5529]]
Accuracy = 0.6969142857142857