<a href="https://colab.research.google.com/github/jtao22/PythonAI/blob/main/CreditCardFraud/creditcard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
#import
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler as MMS
from keras.layers import Dense, LSTM
from keras.models import Sequential as seq
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score as acc
from tensorflow.keras import layers

In [ ]:
from google.colab import files 
files.upload()

In [56]:
data = pd.read_csv('creditcard.csv')
data = data.dropna(axis=0)
data.shape

(284807, 31)

In [57]:
data.head(5)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [58]:
#scale
mms = MMS(feature_range=(-1,1))
Y = data['Class']
data = data.drop(columns=['Time','Class'])
data = mms.fit_transform(data)

In [59]:
#split
trainX,testX,trainY,testY = tts(data, Y, test_size = 0.15, random_state = 42)

In [60]:
arch = seq()
arch.add(Dense(units = 30, input_shape= (29,), activation = 'relu')) #input layer
arch.add(Dense(units = 32, activation = 'relu')) #first dense layer
arch.add(Dense(units = 64, activation = 'relu')) #first dense layer
arch.add(Dense(units = 32, activation = 'relu')) #first dense layer
arch.add(Dense(units = 2, activation = 'softmax')) #output layer
arch.compile(optimizer= 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [61]:
arch.fit(trainX, trainY, batch_size= 128, epochs = 8, validation_split= 0.2, shuffle = True,verbose = 2)

Epoch 1/8
1514/1514 - 3s - loss: 0.0078 - accuracy: 0.9991 - val_loss: 0.0035 - val_accuracy: 0.9994
Epoch 2/8
1514/1514 - 3s - loss: 0.0033 - accuracy: 0.9994 - val_loss: 0.0037 - val_accuracy: 0.9993
Epoch 3/8
1514/1514 - 2s - loss: 0.0032 - accuracy: 0.9994 - val_loss: 0.0035 - val_accuracy: 0.9994
Epoch 4/8
1514/1514 - 2s - loss: 0.0032 - accuracy: 0.9995 - val_loss: 0.0033 - val_accuracy: 0.9993
Epoch 5/8
1514/1514 - 2s - loss: 0.0031 - accuracy: 0.9995 - val_loss: 0.0034 - val_accuracy: 0.9992
Epoch 6/8
1514/1514 - 2s - loss: 0.0030 - accuracy: 0.9994 - val_loss: 0.0043 - val_accuracy: 0.9993
Epoch 7/8
1514/1514 - 2s - loss: 0.0031 - accuracy: 0.9995 - val_loss: 0.0031 - val_accuracy: 0.9994
Epoch 8/8
1514/1514 - 2s - loss: 0.0030 - accuracy: 0.9995 - val_loss: 0.0032 - val_accuracy: 0.9993

In [62]:
#predict
predictions = arch.predict(testX, batch_size= 128, verbose=0)

In [63]:
#check accuracy
rounded = np.argmax(predictions, axis = 1)
count = 0
total = len(rounded)
testY = testY.array
for i in range(len(rounded)):
  if (rounded[i] == testY[i]):
    count = count+1

print(count/total*100,'%')

99.92977856841908 %